<footer class="w-100" style="position: fixed;bottom: 0px">
    <div class="" style="height: 12vh;background-color:orange;">
        
    </div>
        <div class="" style="height: 5vh;background-color:#EDEDED;">
       
        <img src="/img/whatsapp.jpg">
        <img src="/img/icono_facebook.png">
        <img src="/img/icono_instagram.png">
        <img src="/img/icono_linkedin.png">
        <img src="/img/icono_youtube.png">
    </div>
</footer>
