<header>
	<div style="height: 2vh; background-color: orange;"></div>
	<nav class="navbar" style="background-color:#EDEDED;">
	  	<div class="d-inline">
	    	<a class="navbar-brand" href="#"><img src="/img/logo.png" style="width: 12vw; height: 9vh;"></a>
	  	</div>
	  	<div class="d-inline w-50 text-end">
			<div class="d-inline">
				<a class="navbar-brand" href="#">Inicio</a>
			</div>
			<div class="d-inline">
				<a class="navbar-brand" href="#">Comprar</a>
			</div>
			<div class="d-inline">
				<a class="navbar-brand" href="#">vender</a>
			</div>
	  	</div>
	</nav>
</header>