<header>
	<div style="height: 2vh; background-color: orange;"></div>
	<nav class="navbar" style="background-color:#EDEDED;">
	  	<div class="d-inline">
	    	<a class="navbar-brand" href="/"><img src="/img/logo.png" style="width: 12vw; height: 9vh;"></a>
	  	</div>
	  	<div style="display: flex;justify-content: space-evenly;width: 25%;">
			<div class="d-inline">
				<a class="navbar-brand" href="/">Inicio</a>
			</div>
			<div class="d-inline">
				<a class="navbar-brand" href="/products">Comprar/Alquilar</a>
			</div>
			<div class="d-inline">
				<a class="navbar-brand" href="/products/create">Vender</a>
			</div>
	  	</div>
	</nav>
</header>