<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/index.css">
<body>
    <%- include("../partials/header")%>

    <img src="/img/banner1.png" alt="banner" style="width: 100%">

    <h1 class="h1">“Tu&nbsp<b>partner</b>&nbspperfecto para<b>&nbspcomprar&nbsp</b>o<b>&nbspvender</b>”</h1>
    <div class="div-image">
        <a class="a-index" href="/products">        <img class="imagen" src="/img/home1.png" alt="imagen de home"></a>

        <a class="a-index" href="/products/create">        <img class="imagen" src="/img/home2.png" alt="imagen de home"></a>
    
    </div>


    <%- include("../partials/footer")%>
</body>
</html>