<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formulario">
        <h1>Crear producto</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data">
           <div class="inputs">
            <input type="text" name="nombre" id="nombre" placeholder="nombre del producto"> 
            <input type="text" name="detalle" placeholder="detalle de producto">
            <input type="number" name="precio" placeholder="precio de producto">
            <input type="text" name="categoria" placeholder="categoria de producto">
            <input type="file" name="imagen" placeholder="imagen de producto">
           </div>

           <input type="submit" value="crear producto">
        </form>
    </div>
    
</body>
</html>